<ng-template #divLoadingProject>
  <p-progressSpinner></p-progressSpinner>
</ng-template>

<p-card *ngIf="currentProject; else divLoadingProject"  header="Project" class="p-4">
  <p-toast></p-toast>
  <form class="grid" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="col-6">
      <input type="hidden" formControlName="id_project">
      <div class="flex flex-column gap-2">
        <label for="name_project">Project name*</label>
        <input
         pInputText
         id="name_project"
         formControlName="name_project"
         required/>
      </div>
    </div>
    <div class="col-6">
      <div class="flex flex-column gap-2">
        <label for="id_department">Department* </label>
        <p-dropdown
         id="id_department"
         [options]="departments"
         formControlName="id_department"
         placeholder="Select a department"
         optionValue="id"
         optionLabel="name_department"></p-dropdown>
      </div>
    </div>
    <div class="col-6">
      <div class="flex flex-column gap-2">
        <label for="duration_months">Stimated time in months</label>
        <input
         pInputText
         id="duration_months"
         formControlName="duration_months"
         />
      </div>
    </div>
    <div class="col-6">
      <div class="flex flex-column gap-2">
        <label for="state_project">State project*</label>
        <p-dropdown
         id="state_project"
         [options]="stateProject"
         formControlName="state_project"
         placeholder="Select a state"
         [required]="true"
         optionValue="code"
         optionLabel="name"></p-dropdown>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
     label="Save"
     (onClick)="onSubmit()"
     icon="pi pi-check"></p-button>
    <p-button
     label="Cancel"
     icon="pi pi-times"
     styleClass="p-button-secondary"
     routerLink="/main-panel/project"
     [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>
